body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.r-card{
  margin: 20px;
}

.r-card-image{
  border-radius:10px;
  width: 300px;
  height: 480;
  box-shadow: 0px 0px 1px 3px #ccc;
}

.r-card-info{
  margin-top: 10px;
  min-height: 100px;
}

.r-card-title{
  font-size: 24px;
  margin: 0px;
}

.r-card-subTitle{
  font-size: 16px;
  margin: 0px;
}